# Entorno Virtual Python
.venv/
venv/
ENV/
env/

# Cache de Python
__pycache__/
*.py[cod]
*$py.class

# Base de Datos Local (SENSITIVO: No subir a GitHub)
*.db
*.sqlite3
*.sqlite

# Configuración de Entorno
.env
POLLA_SECRET

# IDEs
.vscode/
.idea/
.DS_Store

# Logs
*.log
